.forecast {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 1rem;
  margin: 1.5rem;
  width: 46%;
  height: 60vh;
  color: white;
  text-align: center;
  align-items: center;

  &__image.child {
    width: 3rem;
    height: auto;
    margin: 0.5rem;
  }

  &__header {
    margin: 1rem;
  }

  &__list {
    text-decoration: none;
    margin: 1.5rem;
  }
  &__item {
    margin: 1rem;
  }
  &__card {
    width: 90%;
    display: flex;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: solid 1px white;
    font-weight: bold;
  }
  &__child {
    margin: 1rem;
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    font-size: large;
  }
}
#day {
  background-color: skyblue;
}

#night {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.forecast__image{
  width: 5rem;
  height: auto;
}


@media screen and (max-width:1024px){
  .forecast {
    width: 40%;

    &__container {
      display: flex;
      overflow-x: scroll;
      overflow-y: scroll;
      flex-direction: row;
      width: 80%;
    }
    &__card {
      border: none;
    }
  }
}