.container {
    margin: 6rem;
    margin-left: 8rem;
    margin-right: 8rem;
    color: white;
    border-radius: 1rem;
    text-align: center;
    height: 110vh;
    margin-bottom: 0;
    overflow:scroll;
    border: solid black 1px;

    &__title {
        margin: 2rem;
        font-size: xxx-large;
    }
}

#daytime {
    background-color: skyblue;
  }

  #night {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 768px) {
    .container {
        height: 725px;
    }
}